[user]
  name = Andy Wenk
  email = andy@nms.de
[color]
  diff = auto
  status = auto
  branch = auto
[log]
  date = local
[core]
  excludesfile = ~/.gitignore_global
[alias]
  st = status -sb
  br = branch -av
  di = diff --word-diff
  pu = pull --rebase
  ru = remote update
  ci = commit
  co = checkout
  su = submodule update
  lg = log --graph --format='%cd %C(yellow)%h%C(red bold)%d%Creset%C(cyan) [%cn]%Creset %s' --date=short --abbrev=10
[push]
  default = current
[merge]
  conflictstyle = diff3
